{%extends "educationapp/home.html"%}
{%load static%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{%block body_block%}

<h2>Parent Data</h2>
<table border=2px;>
		<thead>
			<tr>
				<th>Parentname</th>
				<th>number</th>
				<th>Email</th>
				<th>Studentname</th>
				<th>Message</th>
				
			</tr>
</thead>

<tbody>
	{%for i in e%}
	<tr>
		
			<td>{{i.Parentname}}</td>
			<td>{{i.number}}</td>
			<td>{{i.Email}}</td>
			<td>{{i.Studentname}}</td>
			<td>{{i.Message}}</td>
		
	</tr>
	{% endfor %}
</tbody>
</table>
<h2>Contact Form Data</h2>
<table border=2px;>
		<thead>
			<tr>
				<th>name</th>
				<th>number</th>
				<th>Email</th>
				<th>Message</th>
				
				
			</tr>
</thead>	
<tbody>
	{%for j in f%}
	<tr>
		
			<td>{{j.name}}</td>
			<td>{{j.number}}</td>
			<td>{{j.Email}}</td>
			<td>{{j.Message}}</td>
		
	</tr>
	{% endfor %}
</tbody>
</table>
{%endblock%}