

{%extends "educationapp/home.html"%}
{%load static%}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{%block body_block%}

<body>



	<table border=2px;>
		<thead>
			
				<th>Latest News</th>
								
			
        </thead>

<tbody>
	
	<tr>
		
			<td>Learn Infotech is a Realtime Training Company offering Courses on varied ITTechnologies like Fullstack Development, Python, React JS, Node JS, Web Design& PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</td>
					
	</tr>
	<tr>
		
			<td>Learn Infotech is a Realtime Training Company offering Courses on varied ITTechnologies like Fullstack Development, Python, React JS, Node JS, Web Design& PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</td>
					
	</tr>
	<tr>
		
			<td>Learn Infotech is a Realtime Training Company offering Courses on varied ITTechnologies like Fullstack Development, Python, React JS, Node JS, Web Design& PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</td>
					
	</tr>
	<tr>
		
			<td>Learn Infotech is a Realtime Training Company offering Courses on varied ITTechnologies like Fullstack Development, Python, React JS, Node JS, Web Design& PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</td>
					
	</tr>
	
</tbody>
</table>

{%endblock%}